PySide6>=6.4.0
cryptography>=40.0.0
argon2-cffi>=21.0.0
pyotp>=2.8.0
qrcode>=7.0.0
reportlab>=4.0.0
opencv-python>=4.7.0
pillow>=10.0.0
requests>=2.31.0
altgraph==0.17.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
backports.tarfile==1.2.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
cryptography==45.0.7
fido2==2.0.0
filelock==3.19.1
hidapi==0.14.0.post4
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
keyring==25.6.0
macholib==1.16.3
more-itertools==10.8.0
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pefile==2023.2.7
pillow==11.3.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
pyotp==2.9.0
pyscard==2.3.0
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
pytest==8.4.2
pywin32==311
pywin32-ctypes==0.2.3
qasync==0.28.0
qrcode==8.2
QtPy==2.4.3
reportlab==4.4.3
requests==2.32.5
requests-file==2.1.0
shiboken6==6.9.2
tldextract==5.3.0
urllib3==2.5.0
winsdk==1.0.0b10
yubikey-manager==5.8.0
zipp==3.23.0